# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env/
.venv/

# Variables de entorno
.env

# Archivos de distribución
build/
dist/
*.egg-info/

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

implementation_plan.md

